# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/.metals
/.vscode
/samples/java/project/project
/samples/java/project/target
/samples/java/target
/samples/java/logs
/samples/java/.bsp
